:root {
    --primary-light-color: #f5f5f5;
    --secondary-light-color: #edeef0;
    --tertiary-light-color: #d3d6da;
    --text-color--1: #1d2839;
    --text-color--2: #868b92;
    --text-color--3: #585e66;
}

h1 {
    font-family: "Merriweather Sans", sans-serif;
}

.text-off {
    color: var(--text-color--2);
}

body {
    background-color: var(--primary-light-color);
}

.section {
    background-color: var(--secondary-light-color);
    border-radius: 20px;
}

/* Start of spinner */
.spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 50px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--text-color--2);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {

    0%,
    100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {

    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/* End of spinner */
/* Start of aside navbar */
.my-nav {
    color: var(--text-color--3);
}

@media (max-width: 992px) {
    .my-nav {
        justify-content: space-evenly;
    }
}

.menu-item {
    border-radius: 20px;
    transition: 0.3s all ease;
}

.menu-item.active,
.menu-item:hover {
    background-color: var(--tertiary-light-color);
    cursor: pointer;
    color: var(--text-color--1);
}

/* End of aside navbar */

/* Search */
main {
    color: var(--text-color--1);
}

.search {
    background-color: var(--secondary-light-color);
    border: none;
    border-radius: 20px;
    color: var(--text-color--2);
    padding: 10px 20px;
    color: var(--text-color--1) !important;
}

.search::placeholder {
    color: var(--text-color--2);
}

.search:focus {
    background-color: var(--secondary-light-color);
}

/* Highlights */
.highlight-name {
    font-size: 2rem;
}

.title {
    font-size: 0.8rem;
}

.display-1 {
    font-size: 3.5rem;
}

.highlights .icon {
    width: 60px;
}

/* Hourly Forecast */
.forecast-today .icon {
    width: 40px;
}

.forecast-today .box:not(:last-of-type) {
    border-right: 1px solid var(--text-color--2);
}

@media (max-width: 992px) {
    .forecast-today .box:not(:last-of-type):nth-child(even) {
        border-right: none;
    }
}

/* Seven Day Forecast */
.seven-day-forecast .icon {
    width: 40px;
}

.seven-day-forecast .box .day-name,
.seven-day-forecast .box .high,
.seven-day-forecast .box .low
{
display: inline-block;
width: 50px;
}
.seven-day-forecast .box .high{
    color: var(--text-color--1);
}

.seven-day-forecast .box:not(:last-of-type) {
    border-bottom: 1px solid var(--text-color--2);
}